html, body
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  overflow-y: hidden;
a
  text-decoration: none
ul, li
  list-style-type: none;
  margin: 0;
  padding: 0;
